.coverage
*.pyc
*.docx
*.kpf
build
problems
template/word/media
bin/activate
bin/activate_this.py
bin/easy_install
bin/easy_install-2.6
bin/get_env_details
bin/pilconvert.py
bin/pildriver.py
bin/pilfile.py
bin/pilfont.py
bin/pilprint.py
bin/pip
bin/postactivate
bin/
include/
lib/
.DS_Store
.project
.settings/
.pydevproject
*/pip-log.txt
docx.egg-info/
